::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: white;
}

header {
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,0.5);
	position: relative;
	top: 0;
	left: 0;
}

header nav {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

header .logo {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	position: absolute;
}
header .logo:after {
	content: "Logomarca";
	position: absolute;
	top: 50%;
	color: white;
	font-family: "Reboto";
	width: 100%;
	text-align: center;
	font-size: 16px;
	left: 0;
}

header nav>ul>li{
	display: inline;
}
header nav>ul>li>a {
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 15px;
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
header nav>ul>li>a:hover {
	color: #F27A54;
	text-decoration: underline;
	font-family: "Raleway", sans-serif;
}

.search {
	position: absolute;
	top: 5px;
	right: 5px;
}

.search input[type="search"]{
	padding: 5px 20px;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: black;
	border: 1px solid gray;
	width: 180px;
	transition: all .4s ease;
	transition-delay: 5s;
	height: 40px;
}

.search input[type="search"]:focus {
	color: red;
	border: 1px solid #F27A54;
}

button.button.button-primary {
	height: 40px;
	border: 1px solid #0e58cf;
	background: #0e58cf;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: white;
	transition: ease .4s all;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 10px;
}

button.button.button-primary:hover {
	background: #042d6e;
}

.main-content {
	margin-top: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

div.sidebar {
	margin-top: 0px;
	width: 200px;
	min-height: 200px;
	border: 1px solid white;

}
div.content {
	width: calc(100% - 216px);
	min-height: 200px;
	margin-left: 15px;
}

div.sidebar .breadcrumb li {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	font-family: "Raleway", sans-serif;
	font-size: 11px;
	color: black;

}
div.sidebar .breadcrumb li:after {
	content: "/";
	position: absolute;
	right: -10px;
	top: 0;
}
div.sidebar .breadcrumb li>a {
	color: black;
}
div.sidebar .breadcrumb li:last-child:after{
	visibility: hidden;
}

div.sidebar .filters {
	padding-top: 10px;
	overflow: hidden;

}

div.sidebar .size-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .size-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
    overflow-x: hidden;
    overflow-y: auto;

}

div.sidebar .size-filter select {

}

div.sidebar .size-filter form>select>option {
}


div.sidebar .filters {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 30px;
}

div.sidebar .brand-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .brand-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
    padding-top: 10px;
    border-top: 1px solid #e6eaf0;


}

div.sidebar .brand-filter select {
	width: 180px;
	height: 80px;
	margin-right: 2px;
	margin-top: 5px;
	border: none;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px solid #e6eaf0;
	font-family: "Raleway", sans-serif;
}

div.sidebar .price-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .price-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;

}

div.sidebar .price-filter select {
	line-height: 0px;
	width: 180px;
	height: 80px;
	margin-right: 2px;
	margin-top: 5px;
	border: none;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px solid #e6eaf0;
    font-family: "Raleway", sans-serif;
}
div.sidebar .color-filter {
	margin-top: 15px;
	margin-left: 10px;
	line-height: 10px;
	overflow: hidden;
	padding-top: 10px;
}

div.sidebar .color-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
	max-height: 130px;
    padding: 0 6px 10px 0;
}

div.sidebar .color-filter .color-yellow {
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
	font-size: 14px;
}

div.sidebar .genre-filter h4 {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: black;
	margin-bottom: 15px;
  margin-top: 15px;
	max-height: 130px;
  padding: 0 6px 10px 0;
  display: block;
}

div.sidebar .genre-filter li {
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
	font-size: 14px;
  margin-bottom: 10px;
}

div.sidebar .color-filter .color-yellow::before {
  content: '';
  width: 15px;
  height: 15px;
  background: yellow;
  display: inline-block;
}

.yellow {
	height: 10px;
	width: 10px;
}

div.content .items {
	margin-right: 10px;
  margin-bottom: 10px;
	float: left;
	width: calc(33.33% - 6.66px);
  position: relative;
}
div.content .items img {
  display: block;
}
div.content .items:nth-child(3n) {
  margin-right: 0;
}

div.content a>img .caption {
	text-align:center;
	display:inline-block;
    text-decoration:none;
    color:black;
}

div.content .items a img.over {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease;
  width: 100%;
}
div.content .items a:hover img.over {
  display: block;
  opacity: 1;
}
div.content .items .image {
  margin-bottom: 15px;
  width: 100%;
}
div.content .items a {
  text-decoration: none;
}
div.content .items p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #4d4d4d;
}
div.content .items .product-promo {
  padding: 5px 10px;
  margin: 10px 0;
  color: white;
  background: #38A9DE;
  display: inline-block;
  font-weight: bold;
}
div.content .items .flag-discount:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #cc0000;
  left: 0;
  bottom: -17px;
}
div.content .items .like img {
  display: inline;
  margin: 0;
}
div.content .items .like {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #e0e0e0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 4;
  text-align: center;
  line-height: 40px;
}
div.content .items .flag-discount {
  position: absolute;
  width: 34px;
  height: 24px;
  background-color: #cc0000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 25px;
  top: 5px;
  left: 5px;
  z-index: 4;
}
div.content .items .product-installments {
  font-size: 14px;
  color: #38A9DE;
}
div.content .items .price-out {
  color: #8c8c8c;
  font-size: 11px;
  text-decoration: line-through;
  margin-right: 5px;
}
div.content .items .product-price {
  color: #38A9DE;
  font-size: 12px;
}
.strong {
  font-weight: bold;
}
header nav .icon {
  display: none;
}
/** Tablets **/
@media (min-width: 426px) and (max-width: 768px) {
  div.sidebar {
    display: none;
  }
  div.content {
    width: 100%;
    margin: 0;
  }
}
/** Smartphones **/
@media (max-width: 425px) {
  div.sidebar {
    display: none;
  }
  div.content {
    width: 100%;
    margin: 0;
  }
  div.content .items:nth-child(3n) {
    margin-right: 10px;
  }
  div.content .items:nth-child(2n) {
    margin-right: 0;
  }

  div.content .items {
  	width: calc(50% - 5px);
  }

  header .logo {

  	width: 50px;
  	height: 50px;
  }
  header .logo:after {
    content: 'logo';
  }
  div.search {
    display: none;
  }
  header nav .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
  }
  header nav {
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    padding-top: 100px;
    transform: translateX(140px);
    transition: all ease .3s;
  }
  header nav.opened {
    background: rgba(50,50,50,0.95);
    transform: translateX(0px);
  }
  header nav ul li {
    display: block;
    padding: 20px 0;
  }
}
